<div class="stats-grid">
  <div class="stat-card" *ngFor="let stat of stats()">
    <div class="stat-header">
      <div class="stat-icon" [ngClass]="stat.colorClass">{{ stat.icon }}</div>
    </div>
    <div class="stat-value">{{ stat.value }}</div>
    <div class="stat-label">{{ stat.label }}</div>
  </div>
</div>

<!-- Content Grid -->
<div class="content-grid">
  <!-- Latest Jobs -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">შემოთავაზებული ვაკანსიები</h2>
      <a routerLink="/private/jobs" class="view-all">ნახვა →</a>
    </div>

    <div class="job-item"
      *ngFor="let job of stateStore.matchedJobsDashboard().length < 0 ? jobs()  : stateStore.matchedJobsDashboard() | slice:0:3">
      <div class="job-header">
        <div>
          <div class="job-title">{{ job.vacancy }}</div>
          <div class="job-company">{{ job.company }}</div>
        </div>
        <span class="job-badge badge-new">
          {{ "ახალი" }}
        </span>
      </div>
      <div class="job-details">
        <span>📍 {{ "თბილისი" }}</span>
        <span>💼 {{ "სრული" }}</span>
        <span>🕐 {{job.publishDate}} - {{ job.deadline }}</span>
      </div>
      <div class="job-footer">
        <span class="job-salary">{{ "1000-1500 ₾" }}</span>
        <button class="btn btn-primary" (click)="applyJob(job.link); saveViewedVacancy(job.vacancy)">
          ნახვა
        </button>
      </div>
    </div>
    <div class="empty-state" *ngIf="stateStore.matchedJobs().length === 0">
      <p>ვაკანსიები არ მოიძებნა</p>
    </div>

  </div>

  <!-- Recent Activity -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">ბოლო აქტივობები</h2>
    </div>

    <label for="searchQuery">დაამატე საძიებელი პარამეტრი</label>
    <div class="activity-item">
      <button class="activity-icon" (click)="updateUser()"
        [style.background]="'linear-gradient(135deg, #667eea 0%, #764ba2 100%)'" [style.color]="'white'">
        {{ "+" }}
      </button>
      <input [formControl]="searchQuery" type="text" class="form-control" id="searchQuery" placeholder="ვაკანსია"
        required>
    </div>
    <div class="activity-item" *ngFor="let activity of activities()">
      @if(activity.title !== "ტელეგრამი" && activity.title !== "ელ-ფოსტა"){
      <div class="activity-icon" [style.background]="activity.iconBg" [style.color]="activity.iconColor">
        {{ activity.icon }}
      </div>
      }
      @if(activity.title == "ტელეგრამი"){
      <img class="activity-icon" [src]="activity.icon" alt="Telegram">
      }
      @if(activity.title == "ელ-ფოსტა"){
      <img class="activity-icon" [style.background]="activity.iconBg" [src]="activity.icon" alt="Gmail">
      }
      <div class="activity-content">
        <h4>{{ activity.title }}</h4>
        <p>{{ activity.description }}</p>
        <div class="activity-time">{{ activity.time }}</div>
      </div>
    </div>
    <div class="row mt-4 gy-2">
      @if (!stateStore.profile().telegramChatId && stateStore.profileLoaded()) {
      <div class="col-md-12">
        <button class="btn btn-primary" style="width: 100%;" (click)="generateTelegramToken()">
          <img src="/icons/telegram.png" alt="Telegram"
            style="width: 20px; height: 20px; margin-right: 8px; vertical-align: middle;">
          <span>დაკავშირება</span>
        </button>
      </div>
      }
    </div>
  </div>
</div>