<loading/>

<div class="landing-page">
    
  @if (!hideLayout()) {
    <header class="header">
          <app-header/>
          @if(showHeroSection()){
            <div class="hero" style="margin-top: 60px;">
              <h1>Never Miss Your Dream Job</h1>
              <p class="subtitle">Get instant job alerts delivered to your Telegram. Smart, fast, and tailored to your career.</p>
              <button class="cta-button">Get Started Free</button>
              <button class="cta-button secondary-button">View Plans</button>
            </div>
          }
      </header>
  } 
  <div class="body">
    <router-outlet />
  </div>

  @if (!hideLayout()) {
    <app-footer/>
  }
</div>
