<div class="content-grid">
  <!-- Latest Jobs -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">ნაპოვნი ვაკანსიები</h2>
      <span class="job-count">სულ: {{ stateStore.searchedJobsCount() }}</span>
    </div>

    <!-- Job listings -->
    <div class="job-list">
      <div class="job-item" *ngFor="let job of stateStore.searchedJobs()">
        <div class="job-header">
          <div>
            <div class="job-title">{{ job.vacancy }}</div>
            <div class="job-company">{{ job.company }}</div>
          </div>
          <span [ngClass]="'job-badge ' + getJobBadgeByProgress(job.publishDate, job.deadline).class">
          {{ getJobBadgeByProgress(job.publishDate, job.deadline).text }}
        </span>
        </div>
        <div class="job-details">
          <span>📍 {{ job.location ? job.location : "თბილისი"  }}</span>
          <span>💼 {{ "სრული" }}</span>
          <span>🕐 {{job.publishDate}} - {{ job.deadline }}</span>
        </div>
        <div class="job-footer">
          <span class="job-salary">{{ "1000-1500 GEL" }}</span>
          <button class="btn btn-primary" (click)="applyJob(job.link); saveViewedVacancy(job.vacancy)">
            ნახვა
          </button>
        </div>
      </div>
    </div>

    <!-- Empty state -->
    <div class="empty-state" *ngIf="stateStore.matchedJobs().length === 0">
      <p>ვაკანსიები არ მოიძებნა</p>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination" >
      <button 
        class="pagination-btn" 
        (click)="previousPage()" 
        [disabled]="this.page() === 1"
        >
        ← წინა
      </button>
      
      <div class="pagination-numbers">
        <button          
          class="pagination-number"          
          [class.ellipsis]="stateStore.totalPages() === -1"
          [disabled]="stateStore.totalPages() === -1"
          >
          {{ stateStore.totalPages() === -1 ? '...' : this.page() }}
        </button>
      </div>

      <button 
        class="pagination-btn" 
        (click)="nextPage()" 
        [disabled]="this.page() === totalPages()"
        >
        შემდეგი → 
      </button>
    </div>
  </div>

  <!-- Recent Activity -->

</div>